<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="screenswitchersample.espressotestingbootstrap">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="screenswitchersample.espressotestingbootstrap.application.TestApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="screenswitchersample.core.activity.ScreenSwitcherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
